<%
html = <<~EOS
  <div class="list-group-item">
    <div class="py-2 d-flex w-100 justify-content-between">
      <div>
        <img src="https://placehold.jp/30x30.png" width="30">
        #{@comment.id}: ユーザー名 #{@comment.created_at}
      </div>
      <small><a href="#{ url_for(comment_path(@comment)) }" data-method="delete" data-confirm="本当に削除しますか？" class="float-right">削除</a></small>
    </div>
    <div class="py-2">#{@comment.body}</div>
    <div class="pt-2 border-top"><a href="">♥ <small>いいね！</small></a></div>
  </div>
EOS

logger.debug 'DEBUG >>>'
logger.debug html.html_safe
logger.debug '<<< DEBUG'
%>

$('#js_memo').prepend('<%= j(html.html_safe) %>');
