<div class="m_notifications js_side-window shadow px-3 close">
  <div class="border-bottom py-2 mb-3"><strong>新着情報</strong></div>
  <div class="list-group js_notification-fetch">
    <%#= jsで処理 %>
  </div>
</div>