<% provide(:title, 'グループ設定 > 基本設定') %>

<main class="container" style="padding-top: 57px;">

  <h1 class="mb-3">グループ設定 > 基本設定</h1>

  <%
=begin%>
 <%= form_for( variable , remote: true) do |f| %>
  true
  <% end %> 
<%
=end%>

  <%= link_to  "戻る", group_group_configurations_path %>

</main>
